// Fonts
$basefont: 'Lora';
$sidefont: 'WorkSans';

// fontsizes
$headlinexl: 5.5rem;
$headlinel: 4rem;
$textstrd: 1rem;
$texts: 2rem;

// Colors
$light: #fff;
$dark: #000;
$verticalline: #ffffff33;

// Spacing
$base: 6.25rem;
$small: 4rem;
$big: 25rem;
